--- 
layout: default 
title: Products
mine:
  - name: Touch RSS
    itunes: http://itunes.apple.com/app/id662502076
    thumbnail: /appimages/touchrss150.jpg
    introduction: >- 
      The app means to save your time and free your hands. 
      Cloud services are provided and will take full care of your feeds. 
      "Cloud Notification" service will check your RSS feeds and notify you once there is new content. No needs to keep an eye on your feeds any more! 
      "Cloud Storage" for your RSS feeds costs no cents and will synchronize on all your devices. 
      "Cloud Transfer" can help to fetch content of your RSS feeds when it is unreachable with your local network.

  - name: Touch NMR
    itunes: http://itunes.apple.com/app/id564986048
    thumbnail: /appimages/touchnmr150.png
    introduction: >- 
      Two years' development, more than 100,000 lines of code. 
      This is the major work for my doctoral degree. 
      Totally free and providing professional NMR data processing functions. 
      NMR researchers can do their daily jobs with multi-touch now.

  - name: Avatar Ninja
    itunes: http://itunes.apple.com/app/id407675436
    thumbnail: /appimages/avatarninja150.png
    introduction: >- 
      This is the free version of "Ninja Change" with full functions. 
      There are more than 8.000.000 options to assemble a ninja. 
      You can also change the background to any picture in your Photo Album and add real photos on cute ninjas to make avatars.
  
  - name: Dress Up Diary
    itunes: http://itunes.apple.com/app/id399993588
    thumbnail: /appimages/dressupdiary150.png
    introduction: >- 
      Girls Here! The amazing Dress Up app is released! 
      There are many amazing dresses (Professional Design) for you to choose! 
      This app is specially designed for girls' daily dress-up. 
      You can store your own dress-up suggestions for different occasions in this app.

  - name: Ninja Change
    itunes: http://itunes.apple.com/app/id399954865
    thumbnail: /appimages/avatarninja150.png
    introduction: >- 
      The first really useful app to add your real photos to your avatars. 
      It is based on cute ninjas. You can change it to any style as you wish. 
      There are more than 8.000.000 options for you to find out. You can also add real photos to cute ninjas. 
      And then set them as avatars of your friends in your contact. Sooo cool! Isn't it? 
      Have a try, many more interesting things for you to dig out.

  - name: Make Up Pro
    itunes: http://itunes.apple.com/app/id380031310
    thumbnail: /appimages/makeuppro150.jpg
    introduction: >- 
      This is an app for ladies to make up by themselves. 
      You will never need to make up on your own face any more, until you make a good looking out within this app! 
      Not only do the make-up jobs, you can also do some drawings to make fun of your friends! That all depends on yourself!
  
  - name: My Box
    itunes: http://itunes.apple.com/app/id437796936
    thumbnail: /appimages/mybox150.jpg
    introduction: >- 
      The most fantastic function in this app is users can easily get their private files with only long-press! 
      The wonderful idea came from a magic. Everyone has an old thinking of that a button is just for tapping. 
      But if you hold it for more than two seconds, you will come to a different area. 
      Then no one else can find your private files and they will never know you have private files too. 
      Another fantastic thing is you can view your photos, videos and even documents within this app. 
      WIFI and iTunes transfers are supported for easy use!

  - name: Fulaoda
    itunes: http://itunes.apple.com/app/id368951029
    thumbnail: /appimages/fulaoda150.jpg
    introduction: >- 
      This app records the whole content of the Happy Exercise. This is only Chinese version. 
      The pressure of city people is grown bigger and bigger. So keeping ourselves happy every day is more and more important. 
      This is a free app for you to be happy every day.
  
  - name: Make Up HD Pro
    itunes: http://itunes.apple.com/app/id384843632
    thumbnail: /appimages/makeuphdpro150.jpg
    introduction: >- 
      This is an app for ladies to make up by themselves on the iPad, the HD version of Make Up Pro. 
      You will never need to make up on your own face any more. Have a try, 
      you will certainly get the idea that the app is so helpful and worth the price!

  - name: iMHead
    itunes: http://itunes.apple.com/app/id369324727
    thumbnail: /appimages/imhead150.jpg
    introduction: >- 
      Do you feel uncomfortable with your neck after long work? Do you want to release your neck with just 4 minutes' exercise. 
      If so, this app is just for you. Hundreds of years' research of traditional Chinese medical science shows that with proper exercises, 
      the probability of getting cervical osteoarthritis will be decreased at least 80%. 
      With this 4 minutes' exercise, you can release both your neck and back, and get relaxed.

  - name: Xiaoyueyue
    itunes: http://itunes.apple.com/app/id398298911
    thumbnail: /appimages/xiaoyueyue150.jpg
    introduction: >- 
      Her name is little Yueyue. She is a "star" in China. She does all the things in a strange way. 
      Let's just dress her up. :)
    
  - name: PhotoCham Lite
    itunes: http://itunes.apple.com/app/id382822006
    thumbnail: /appimages/makeuppro150.jpg
    introduction: >- 
      For daily dealing with photos, PhotoCham Lite is here! The lite version goes out first. 
      This app is very easy to use, and will provide you with many useful functions. 
      You can tap to draw, choose any color you like, and store the pictures you have done with. 
      Not only can you deal with the photos in you Photos, but also you can create a new one.

  - name: Masks For Masquerade
    itunes: http://itunes.apple.com/app/id386082968
    thumbnail: /appimages/masquerade150.jpg
    introduction: >- 
      For Masquerade, here comes the masks! Take a look at it, before you go to a masquerade. 
      There are hundreds of masks in this app. Just choose one that is perfect for you to be the Queen!

  - name: iMHead Lite
    itunes: http://itunes.apple.com/app/id370870964
    thumbnail: /appimages/imhead150.jpg
    introduction: >- 
      This is the FREE VERSION for iMHead. Have a try! Relaxing you neck is a long-time job. 
      Please remember to do the exercises, whenever you feel uncomfortable after long-time work! 
      Just keep your body straight, and move your head with the pictures! It doesn't matter whether you are seated or standing up.

  - name: Throw It
    itunes: http://itunes.apple.com/app/id393778033
    thumbnail: /appimages/throwit150.jpg
    introduction: >- 
      Funny simple game, For Free! Just use your iPhone to do the throw action. Download it, and you can "throw" your phone. 
      Let's compete with the whole world. We will see who can throw the fastest. Game Center is supported!

  - name: Tiger Dart
    itunes: http://itunes.apple.com/app/id394326659
    thumbnail: /appimages/tigerdart150.jpg
    introduction: >- 
      Come on! Show yourself to the world! The Dart game here for you to play! Simulated Dart Sport! 
      You can just do the throw action to play this game like you are playing with a real dart. Game Center is supported. 
      You can submit your score to Game Center to compete with the world. Don't wait, get it to play!

  - name: iByy Lite
    itunes: http://itunes.apple.com/app/id368369910
    thumbnail: /appimages/ibyy150.jpg
    introduction: >- 
      This is the FREE VERSION of iByy. This app will load your fingerprint (of course a trick) and someone other's, then present a match result. 
      You can custom the match words all by yourself. 2 results (the Pro Version 20 results) can be stored. 
      Next time you match with someone else, the result you chose will be presented.
  
  - name: iByy
    itunes: http://itunes.apple.com/app/id367315773
    thumbnail: /appimages/ibyy150.jpg
    introduction: >- 
      Do you want to quickly chat up with a girl? Do you want a way to hold her attention right now? Do you want to give someone a fool? Yes! 
      This app will offer you a good way to start. 
      This app will load your fingerprint (of course a trick) and someone other's, then give a match. A very interesting app!
    
  - name: Beat It
    itunes: http://itunes.apple.com/app/id371860483
    thumbnail: /appimages/beatit150.jpg
    introduction: >- 
      Do you have stamina? Are you the quickest guy in the world? Compete with the world and have a train! 
      There are five games in this app. Everyone in this app is full of competitiveness and patience. 
      So if you want to compete and show yourself with the world? Just download this one!

  - name: Beat It Lite
    itunes: http://itunes.apple.com/app/id373458790
    thumbnail: /appimages/beatit150.jpg
    introduction: >- 
      It is totally supported by OPENFEINT, and will be FREE OF DAYS. Compete with world! 
      Do you want to compete and show yourself with the whole world? Just download this one! 
      With this professional training, you will do your things better!

  - name: Home Style - Modern Eastern
    itunes: http://itunes.apple.com/app/id393526367
    thumbnail: /appimages/homestyle150.jpg
    introduction: >- 
      Providing you with a fresh Home Style! This is the Modern Eastern version! 
      If you would like your house to have a new look, this series of apps is just for you. 
      There are hundreds of qualified pictures provided by professional designers. 
      This is the first version specially designed for modern eastern style.

  - name: Home Style - Village
    itunes: http://itunes.apple.com/app/id404703275
    thumbnail: /appimages/homestyle150.jpg
    introduction: >- 
      Providing you with a fresh Home Style! This is the second season -- Village Style. 
      Thanks to the people who support this series of apps. Take a look at these pictures, and you will also come out with a lot of ideas. 
      This Village Style may give you the idea that will make your house look fresh. A Village Home Style can relax you after busy work.

custom:
  - name: iCouch CBT
    itunes: http://itunes.apple.com/app/id446115508
    thumbnail: /appimages/icouch150.jpg
    introduction: >- 
      This app is built for a company which provides personal services to control their temper. 
      People can record their distortions within this app. This app is listed as NEW and NOTEWORTHY by Apple. 
      Also within this app we set up an IN APP PURCHASE which can post a certain record to the server of the company. 
      Then their psychologist will talk to the user directly. So I am quite familiar with this kind of service.

  - name: Vector Sprays
    itunes: http://itunes.apple.com/app/id476010486
    thumbnail: /appimages/vectoricon150.jpg
    introduction: >- 
      This is a Solution app. The client provided the style of the app and the database for users to choose from. 
      The app is made for USDA (United States Department of Agriculture) with good qulity. I am quite good at this kind of apps. 
      And I have already made many apps with this kind.

  - name: Aerial Sprays
    itunes: http://itunes.apple.com/app/id475475662
    thumbnail: /appimages/aerialicon150.jpg
    introduction: >- 
      This is a Solution app. The client provided the style of the app and the database for users to choose from. 
      The app is made for USDA (United States Department of Agriculture) with good qulity. I am quite good at this kind of apps. 
      And I have already made many apps with this kind.

  - name: Ground Spray
    itunes: http://itunes.apple.com/app/id528759748
    thumbnail: /appimages/groundicon150.jpg
    introduction: >- 
      This is a Solution app. The client provided the style of the app and the database for users to choose from. 
      The app is made for Universtiy of Nebraska with good qulity.

  - name: AssistFund
    itunes: http://itunes.apple.com/app/id457051658
    thumbnail: /appimages/assistfundicon150.jpg
    introduction: >- 
      This App is a Solution app to give people healthcares. 
      Within this app, users can record their actions, add events, make notes, and get a close contact with professional doctors. 
      If you want to make an app, just contact me. I can offer you a reasonable price with high qulity.

  - name: R3 App
    itunes: http://itunes.apple.com/app/id491452316
    thumbnail: /appimages/r3icon150.jpg
    introduction: >- 
      This is an app for Harbor House to help people. Within this app users can record their actions, watch helpful videos and find solutions. 
      Like many other apps made by me, I am quite good at this kind of apps. I can make apps of this kind fast with high qulity.

  - name: My Lab
    itunes: http://itunes.apple.com/app/id449475316
    thumbnail: /appimages/mylab150.png
    introduction: >- 
      This app is built for users who like to cook. This app is easy for users to store their cookbook. 
      Users can also make marks within this app, like NoteShelf. Sharing, editting, printing and so on are also provided.

  - name: My Custom Calc
    itunes: http://itunes.apple.com/app/id433560225
    thumbnail: /appimages/mycustomcalc150.jpg
    introduction: >- 
      This is a calculator application which offers many skins to change. This app is free, but with advertisements of iAD, Admob and Allify. 
      Also using AdWhirl to optimize the ads' performance. 
      In order to change the color scheme, In App Purchase is provided for users to make the payment and a web server to host the packages. 
      Once a user has made a payment, the app will start to download the package from the server.

  - name: MascaraGuide
    itunes: http://itunes.apple.com/app/id435856307
    thumbnail: /appimages/mascara150.jpg
    introduction: >- 
      I made this app for a company which helps girls to shop cosmetics. 
      Users can rate the products and make comments for each one of them. 
      I am good at this kind of apps to show products of any kind. Apps are always made in the professional way. :)

  - name: Geek SLP
    itunes: http://itunes.apple.com/app/id418788244
    thumbnail: /appimages/geekslp150.jpg
    introduction: >- 
      This is an RSS reader app. I made this for a company to show their products. 
      They are focus on child-teaching and have many lessons. 
      This is an iPad application, and I know exactly how to make the best performance for this kind of apps.

  - name: Boosters
    itunes: http://itunes.apple.com/app/id419815464
    thumbnail: /appimages/boosters150.jpg
    introduction: >- 
      The iPhone and iPad are becoming more and more popular. 
      So making websites to native applications in iOS is a major job for many companies. 
      If you have a website or even offline business, you should make it to a native iOS application ASAP. 
      It will be quite convenient for your users and expand your business.

  - name: CheetahLearn
    itunes: http://itunes.apple.com/app/id439055504
    thumbnail: /appimages/cheetahlearn150.jpg
    introduction: >- 
      I made this app for a company which provides professional career training for people. 
      Within this app users can record what they have learnt in every detail. So users can improve their skills day by day. 
      The company also provides personal services so that users can find a trainer who is fit for him within this app. Quite easy to use!

  - name: All Women's Talk
    thumbnail: /appimages/allwomenstalk150.jpg
    introduction: >- 
      This is an RSS reader. Both for the iPad and iPhone I can make apps quite stable and effective. 
      I will make it in the professional way. Also I can make it super fast.

  - name: God's Bridge
    thumbnail: /appimages/godsbridge150.jpg
    introduction: >- 
      This is an e-book app of Bible. I made this for a customer who made the content of Bible to pictures that are quite easy to read. 
      I can also public novels, comics and so on. Anyway if you want to make your products more famous, I can help you.

  - name: GTalk
    thumbnail: /appimages/kaka150.jpg
    introduction: >- 
      I can use VOIP protocol to make GTalk clients. With this I can make out many cool features. 
      Such as a voice talk, a real-time text chat and many cool things like that. 
      This feature is quite popular in recent popular apps and will surely attract many users.

  - name: Send Shot
    thumbnail: /appimages/sendshot150.png
    introduction: >- 
      Recently photo sharing applications are quite popular. Then I made this for a company. 
      The characteristic of this app is that users are all anonymous to each other. 
      And users can send messages to others they like. I am also quite familiar with this kind of apps. 
      So I can make a full plan for you that will exactly meet every one of your needs.

  - name: IconBand
    thumbnail: /appimages/iconband150.jpg
    introduction: >- 
      I made this app for a banker who usually calculates something. He asked me to make this app to save his daily time. 
      I am good at calculation, so it is quite easy for me to make this kind of apps. 
      If you have any personal needs, please do not hesitate to let me know.

---

<section class="hero is-medium is-info">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h2 class="subtitle is-2">Products Made by Dr. Kaka</h2>
            <div class="columns is-mobile is-multiline is-centered">
                <div class="column is-narrow">
                    <p class="subtitle is-4" id="mine">Mine</p>
                </div>
                <div class="column is-narrow">
                    <p class="subtitle is-4">|</p>
                </div>
                <div class="column is-narrow">
                    <p class="subtitle is-4 inactive" id="custom">Custom</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include product.html %}
{% include productjs.html %}
