<section class="hero is-dark">
    <footer class="footer">
        <div class="columns is-mobile is-multiline is-centered">
            <div class="column is-narrow">
                <a class="email" href="mailto:Dr. Kaka<drkaka@drkaka.com>" target="_blank">Email</a>
            </div>
            <div class="column is-narrow">
                <a href="https://twitter.com/drkakaapps">Twitter</a>
            </div>
            <div class="column is-narrow">
                <a href="https://www.facebook.com/freeleestyle">Facebook</a>
            </div>
            <div class="column is-narrow">
                <a href="https://drkaka.slack.com">Slack</a>
            </div>
            <div class="column is-narrow">
                <a href="https://github.com/drkaka">GitHub</a>
            </div>
            <div class="column is-narrow">
                <a href="https://www.linkedin.com/in/dr-kaka">LinkedIn</a>
            </div>
        </div>
        <div class="container">
            <div class="content has-text-centered">
                <h4 class="title is-6">Copyright 2010-2017
                    <a href="https://www.drkaka.com">@DrKaKa.com</a>
                </h4>
            </div>
        </div>
    </footer>
</section>