<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <a href="/">
                            <svg width="204px" height="60px" viewBox="0 0 204 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
                                <g transform="matrix(0.614113,0,0,0.175658,-311.404,-30.3164)">
                                    <path d="M572.19,201.611L634.617,264.038L572.19,326.465L509.763,264.038L572.19,201.611Z" style="fill:white;"/>
                                </g>
                                <g transform="matrix(7.88826e-18,0.128825,-0.0244824,1.49911e-18,37.8642,-11.6682)">
                                    <path d="M469,852.312L277.193,852.312L302.128,393.55L444.065,393.55L469,852.312Z" style="fill:white;"/>
                                </g>
                                <g transform="matrix(7.88826e-18,-0.128825,0.0244824,1.49911e-18,42.1057,84.4584)">
                                    <path d="M469,852.312L277.193,852.312L302.128,393.55L444.065,393.55L469,852.312Z" style="fill:white;"/>
                                </g>
                                <g transform="matrix(0.119843,0.0343645,-0.00674826,0.023534,-10.4705,19.1651)">
                                    <path d="M469,852.312L277.193,852.312L300.252,393.55L445.94,393.55L469,852.312Z" style="fill:white;"/>
                                </g>
                                <g transform="matrix(0.119837,-0.0343628,0.00674826,0.023534,1.01701,44.8068)">
                                    <path d="M469,852.312L277.193,852.312L300.252,393.55L445.94,393.55L469,852.312Z" style="fill:white;"/>
                                </g>
                                <g transform="matrix(0.0748774,0,0,0.0748774,1.64774,-7.03465)">
                                    <path d="M307.441,879.034L304.379,879.034L305.145,878.208L306.676,878.208L307.441,879.034Z" style="fill:white;"/>
                                </g>
                                <g transform="matrix(1.38968,0,0,1.60039,-57.5663,-9.08064)">
                                    <text x="97.315px" y="35.582px" style="font-family:'Arial-BoldMT', 'Arial', sans-serif;font-weight:700;font-size:24px;fill:white;">DrKaKa</text>
                                </g>
                            </svg>
                        </a>
                    </div>

                </div>
                <div class="level-right">
                    <div class="level-item">
                        <div class="columns is-mobile is-multiline is-centered">
                            <div class="column is-narrow">
                                <a href="/products.html">
                                    <h4 class="title is-5">Products</h4>
                                </a>
                            </div>
                            <div class="column is-narrow">
                                <a href="/Services.html">
                                    <h4 class="title is-5">Services</h4>
                                </a>
                            </div>
                            <div class="column is-narrow">
                                <a target="_blank" href="https://blog.drkaka.com">
                                    <h4 class="title is-5">Blog</h4>
                                </a>
                            </div>
                            <div class="column is-narrow">
                                <a class="is-medium" href="/about.html">
                                    <h4 class="title is-5">About</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>