<div class="hero-body">
    <div class="container">
        <div class="columns">
            <div class="column is-narrow has-text-centered">
                <figure class="image is-1by1 thumbnail">
                    <img src={{ product.thumbnail }} />
                </figure>
            </div>
            <div class="column">
                <nav class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <p class="subtitle is-3">{{ product.name }}</p>
                        </div>
                    </div>
                    {% if product.itunes %}
                    <div class="level-right">
                        <div class="level-item">
                            <a href={{ product.itunes }} target="_blank">
                                <svg class="itunes" width="22px" height="26px" viewBox="0 0 22 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
                                    <g transform="matrix(1,0,0,1,-12.0781,-6.03038)">
                                        <path d="M30.128,19.784C30.099,16.561 32.767,14.993 32.889,14.92C31.378,12.717 29.036,12.416 28.213,12.392C26.246,12.185 24.338,13.569 23.336,13.569C22.314,13.569 20.771,12.412 19.108,12.446C16.968,12.479 14.966,13.718 13.868,15.642C11.602,19.565 13.292,25.33 15.463,28.501C16.549,30.054 17.818,31.788 19.479,31.727C21.104,31.66 21.711,30.691 23.672,30.691C25.615,30.691 26.185,31.727 27.879,31.688C29.623,31.66 30.721,30.128 31.769,28.561C33.024,26.781 33.528,25.028 33.548,24.938C33.507,24.924 30.161,23.647 30.128,19.784Z" style="fill:rgb(106,118,124);fill-rule:nonzero;"/>
                                        <path d="M26.928,10.306C27.802,9.213 28.4,7.726 28.234,6.217C26.969,6.273 25.387,7.092 24.476,8.161C23.67,9.103 22.95,10.647 23.136,12.099C24.557,12.205 26.016,11.382 26.928,10.306Z" style="fill:rgb(106,118,124);fill-rule:nonzero;"/>
                                    </g>
                                </svg> 
                                <strong class="itunes">View in iTunes</strong>                       
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </nav>
                <p class="subtitle is-5 introduction">
                    {{ product.introduction }}
                </p>
            </div>
        </div>
    </div>
</div>